.rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rating > :first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.2rem;
}
.rating > :first-child > span {
  height: 2.4em;
  color: #ffc100;
  margin-right: -0.2rem;
  padding: 0.1rem;
}
.rating > :last-child {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-left: 0.8rem;
}