.sections {
  width: 100%;
  overflow: hidden;
}

.sectionsHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid #c4c4c4;
}
.sectionsHeader > a {
  text-align: center;
  width: 100%;
  padding: 1rem;
  opacity: 0.6;
}
.sectionsHeader > a.active {
  opacity: 1;
}

.sectionsSlider {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: calc(100% / 3);
  height: 2px;
  background-color: var(--secondary);
  transition: var(--transition-normal);
}

.sectionsBody {
  height: 26rem;
  transition: var(--transition-normal);
  width: 300%;
}
.sectionsBody > li {
  display: inline-block;
  vertical-align: top;
  width: calc(100% / 3);
  height: 100%;
  padding: 0.5rem;
  transition: var(--transition-normal);
  overflow-y: auto;
}

.description {
  text-align: justify;
}
.description  p + p {
  margin-top: 0.5rem;
}
.description p::first-letter {
  margin-left: 1.2rem;
}

.features {
  list-style: disc inside;
}

.specifications {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}