.authContainer {
  width: calc(200vw - 8rem);
  max-width: 100rem;
  transition: var(--transition-normal);
}
.authContainer > li {
  display: inline-block;
  vertical-align: top;
  width: calc(100vw - 4rem);
  max-width: 50rem;
  color: #fff;
  padding: 1rem;
  transition: var(--transition-normal);
}

.authBody {
  position: relative;
  background-color: var(--primary);
  border-radius: 0.5rem;
  padding: 2rem;
}
.authBody > * + *,
.authBody > form > * + * {
  margin-top: 1rem;
}
.authBody > h2 {
  text-align: center;
  width: 100%;
  margin: 0 0 1.5rem;
}
.authBody > p {
  padding-left: 0.5rem;
}
.authBody > p > button {
  text-decoration: underline;
}
.authBody > p > button:hover {
  color: var(--primary-light);
}
