.authContainer {
  width: 180vw;
  max-width: 100rem;
}
.authContainer > li {
  display: inline-block;
  vertical-align: top;
  width: 90vw;
  max-width: 50rem;
  color: #fff;
  padding: 1rem;
  transition: transform 0.2s linear;
}

.authBody {
  position: relative;
  background-color: var(--primary);
  border-radius: 0.5rem;
  padding: 2rem;
}
.authBody > h2 {
  text-align: center;
  width: 100%;
  margin: 1rem 0 1.5rem;
}
.authBody > form > * {
  margin-bottom: 1rem;
}
.authBody > form > div > label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.2rem;
}
.authBody > form > div > input {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.8rem;
}
.authBody > p {
  padding-left: 0.8rem;
}
.authBody > p > a {
  text-decoration: underline;
}
.authBody > p > a:hover {
  color: var(--primary-light);
}