:root {
  --base: hsl(0, 0%, 90%);
  --primary: hsl(226, 100%, 25%);
  --primary-light: hsl(226, 100%, 55%);
  --secondary: hsl(44, 100%, 50%);
  --secondary-light: hsl(44, 100%, 60%);
  --danger: hsl(0, 100%, 40%);
  --danger-light: hsl(0, 100%, 50%);
  --transition-normal: all 0.2s linear;
}