.asideOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.asideContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100vw - 2rem);
  height: 100%;
  max-width: 32rem;
  background-color: #fff;
  padding: 2rem;
}

.sections {
  width: 100%;
  overflow: hidden;
}

.sectionsHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid var(--grey);
  margin-bottom: 1rem;
  padding: 0.3rem;
}
.sectionsHeader > button {
  text-align: center;
  width: 100%;
  padding: 1rem;
  color: var(--grey-dark);
}
.sectionsHeader > button:hover,
.sectionsHeader > button.active {
  color: #000;
}

.sectionsSlider {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: calc(100% / 2);
  height: 2px;
  background-color: var(--secondary);
  transition: var(--transition-normal);
}

.sectionsBody {
  transition: var(--transition-normal);
  width: 200%;
}
.sectionsBody > li {
  display: inline-block;
  vertical-align: top;
  width: calc(100% / 2);
  height: 100%;
  transition: var(--transition-normal);
  overflow-y: auto;
}

@media only screen and (max-width: 320px) {
  .asideContainer {
    width: 100vw;
  }
}
