.title {
  text-align: center;
  margin: 2rem 0;
}

.productsContainer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.6rem;
  height: 100%;
  background-color: #fff;
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  padding: 1rem;
}
.product:hover {
  box-shadow: 0.2rem 0.2rem 1rem var(--grey);
  transform: translate(-0.1rem, -0.1rem);
}
.product > img {
  border-radius: 0.5rem;
}
.product > div:first-of-type {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.5rem;
}
.product > .unavailable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.4);
  margin: 0;
  text-align: center;
}
.product > .unavailable > span {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  border: 2px solid var(--danger);
  border-radius: 0.5rem;
  padding: 0 1rem;
  transform: translateY(9rem) rotate(-10deg);
}

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rating > :first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.2rem;
}
.rating > :first-child > span {
  height: 2em;
  color: #ffc100;
}
.rating > :nth-child(2) {
  font-size: 1.6rem;
  line-height: 1;
  margin-left: 0.8rem;
}
.rating > button:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  color: #fff;
  background-color: #009700;
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
  margin-left: 2rem;
}
.rating > button:last-child:hover {
  text-decoration: underline;
}
