.productContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.images,
.details {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}

.images {
  flex: 1;
  user-select: none;
}

.details {
  flex: 1.5;
}
.details > * + * {
  margin-top: 0.5rem;
}
.details > :first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details > :first-child > h1 {
  flex: 1;
}
.details > :first-child > button {
  align-self: flex-start;
  color: var(--danger-light);
  line-height: 0;
  margin: 0.55rem 1.6rem;
}

@media only screen and (max-width: 767px), only screen and (max-aspect-ratio: 3/2) {
  .productContainer {
    flex-direction: column;
  }

  .images,
  .details {
    max-width: 600px;
  }
}
