.productContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.images,
.details {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}

.images {
  flex: 1;
  user-select: none;
}

.details {
  flex: 1.5;
}
.details > * + * {
  margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
  .productContainer {
    flex-direction: column;
  }

  .images,
  .details {
    max-width: 600px;
  }
}